[Unit]
Description=abc Container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker start abc
ExecStop=/usr/bin/docker stop abc

[Install]
WantedBy=multi-user.target

